<% if !user_signed_in? %>
  <%= render "pages/home" %>
<% else %>
  <div id="main">
  </div>
  <script type="text/javascript" charset="utf-8">
  window.CURRENT_USER = "<%= current_user.id %>";
  </script>
  <script id="issues-template" type="text/x-handlebars-template">
    <%= render 'dashboard/partials/issues_template' %>
  </script>
  <script id="show-issue-template" type="text/x-handlebars-template">
    <%= render 'dashboard/partials/show_issue' %>
  </script>
  <script id="issue-details-template" type="text/x-handlebars-template">
    <%= render 'dashboard/partials/issue_details' %>
  </script>
  <script id="index-view-template" type="text/x-handlebars-template">
    <%= render 'dashboard/partials/index_view' %>
  </script>
  <script id="missing-issue-template" type="text/x-handlebars-template">
    <%= render 'dashboard/partials/missing_issue' %>
  </script>
  <script id="comment-template" type="text/x-handlebars-template">
    <%= render 'dashboard/partials/comment' %>
  </script>
  <script id="new-upload" type="text/x-handlebars-template">
    <%= render 'dashboard/partials/new_upload' %>
  </script>
  <script id="comments-template" type="text/x-handlebars-template">
    <%= render 'dashboard/partials/comments' %>
  </script>
  <script id="search-template" type="text/x-handlebars-template">
    <%= render 'dashboard/partials/search' %>
  </script>
  <script id="result-template" type="text/x-handlebars-template">
    <%= render 'dashboard/partials/result' %>
  </script>
<% end %>

