<% if !user_signed_in? %>
  <%= render "pages/home" %>
<% else %>
<div id="main">
</div>
<script id="issues-template" type="text/x-handlebars-template">
  <%= render 'dashboard/partials/issues_template' %>
</script>
<script id="show-issue-template" type="text/x-handlebars-template">
  <%= render 'dashboard/partials/show_issue' %>
</script>
<script id="list-issues-template" type="text/x-handlebars-template">
  <%= render 'dashboard/partials/list_issues' %>
</script>
<script id="missing-issue-template" type="text/x-handlebars-template">
  <%= render 'dashboard/partials/missing_issue' %>
</script>
<script id="comment-template" type="text/x-handlebars-template">
  <%= render 'dashboard/partials/comment' %>
</script>
<% end %>
