<section id="sign-form">
<h2>Sign in</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div>
    <%= f.email_field :email, :autofocus => true, :placeholder => "example@gmail.com" %></div>

  <div>
  <%= f.password_field :password, :placeholder => "Super secret password"%></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div><%= f.submit "Sign in", :class => "btn btn-success" %></div>
<% end %>

<%= render "users/shared/links" %>
</section>
