<!DOCTYPE html>
<html>
<head>
  <title>Jarviis</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="container">
    <% flash.each do |name, msg| %>
     <%= content_tag(:div, msg, class: "alert alert-info") %>
  <% end %>
  <%= yield %>
  </div>
  <div id="modal"></div>

  <script id="add-issue-modal" type="text/html">
    <%= render 'dashboard/create_issue' %>
  </script>
  <%= javascript_include_tag "application" %>
</body>
</html>
