<!DOCTYPE html>
<html>
<head>
  <title>Jarviis</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,400italic&subset=latin,greek' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="container">
    <% flash.each do |name, msg| %>
     <%= content_tag(:div, msg, class: "alert alert-info") %>
  <% end %>
  <%= yield %>
  </div>
  <div id="modal"></div>

  <script id="add-issue-modal" type="text/html">
    <%= render 'dashboard/create_issue' %>
  </script>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" charset="utf-8">
    window.current_username = "<%= current_user.username %>";
    $(document).ready(function() {
      Jarviis.start();
    });
  </script>
</body>
</html>
