<!DOCTYPE html>
<html>
<head>
  <title>Jarviis</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a href="/" class="nav-logo">
        <%= image_tag "logo.png" %>
      </a href="/">
      <div id="nav-collapse-01" class="nav-collapse collapse">
        <ul class="nav">
          <li>
            <a href="#fakelink">
              issues
            </a>
          </li>
          <li class="account-menu">
            <a href="#">
              <%= image_tag gravatar_url(current_user.email, secure: true, size: 36), :alt => 'avatar' %>
                <%= current_user.name %>
              <i class="icon-reorder"></i>
            </a>
            <ul>
              <li><a href="#fakelink">Profile</a></li>
              <li><a href="/users/settings">Account Settings</a></li>
              <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
            </ul>
          </li>
        </ul>
      </div><!--/.nav -->
    </div>
  </div>
</div>
<%= yield %>

<%= javascript_include_tag "application" %>
</body>
</html>
